[profile.default]
src = "src"
out = "out"
libs = ["lib"]

[rpc_endpoints]
sepolia = "https://eth-sepolia.g.alchemy.com/v2/TU_API_KEY"

[etherscan]
sepolia = { key = "HIAVK7V2BG8FY3YW8EQMUKG94635FVBIK1" }